*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{  
    font-family: "Archivo", sans-serif;
}
:root{
    --main-color:red;
    --secound-color:white;
    --section-color:black;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Oswald", sans-serif;
}
img{
    width: 100%;
}
.container{
    width: 80%;
    margin: auto;
}
nav ul{
    list-style: none;
}
a{
    text-decoration: none;
   color: white;
}
#About{
    background-color:#151515;
    padding-top: 20px;
}
body section#Coach{
    padding-top: 30px;
    background-color:black;
}
.fa-facebook-f{
    color: #1877F2;
   
}
.fa-whatsapp{
    color: #25D366;
}
.fa-instagram{
    color: #E4405F;
}
.fa-twitter{
    color: #1DA1F2;
}
.title{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    color: white;
    padding-top: 10px;
    font-size: 30px;
    width: 100%;
}
.title h2{
    margin-bottom: 10px;
}
.title .imgIcon{
    width: 50px;
    position: relative;
}
.title .imgIcon:after,
.title .imgIcon::before{
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 3px;
     top: 50%;
    background-color: red;
}
.title .imgIcon:after{ 
    left: 100%;
    margin-left: 5px;
    border-radius: 0pc 10px 10px 0px;
}
.title .imgIcon::before{
        right: 100%;
        margin-right: 5px;
         border-radius:10px 0px 0px 10px;
}
body #Program{
    padding-top:30px ;
    background-color: #151515;
}
.readmore {
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.readmore:hover{
    background-color: var(--main-color);
    color: black;
}
.readmore i{
    font-size: 13px;
    margin-left: 5px;
    transition: all 0.5s;
}
.readmore:hover i{
    margin-left: 10px;
}
body section#Contact{
    background-color: black;
    padding-top: 30px;
}
body #Time{
    background-color: #151515;
    padding-top: 30px;
}
body footer{
    background-color: black;
}
