@media (max-width: 1300px) {
body header div.container {
    padding-top: 79px;
}
body header div.container .part1 {
    width: 100%;
}
body header div.container .part2 .img {
    width: 143px;
    height: 143px;
}
body header div.container .part1 h1 {
    font-size: 35px; 
}
.fa-dumbbell {
    padding: 3px 4px 3.1px 3px;
    font-size: 8px;
}
body header div.container .part1 p {
    font-size: 12px;
}
body header div.container .part1 button {
    font-size: 11px;
    padding: 5px 10px;
    text-transform: capitalize;
    border: 2px solid var(--main-color);
    background-color: transparent;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
body nav div.container .links ul li{
    display: none;
}
body nav div.container {
    width: 100%;
}
body nav div.container .logo {
    width: 69px;
    margin-left: 0;
}
body nav div.container .links{
    width: 50%;
   display: flex;
   justify-content: end;
   align-items: end;
}
body nav div.container .links ul button{
    display: block;
    background-color: transparent;
    border: 2px solid var(--main-color);
    padding: 5px 10px;
    color:var(--main-color);
    border-radius: 5px;
    font-size: 15px;
    margin-right: 20px;
    
}
body section.About .container .part1 {
    width: 100%;
}
body section.About .container .part1 .frame {
    width: 238px;
    height: 239px;
    margin: auto;
}
body section.About .container .part1 .frame .layout i {
    font-size: 20px;
    width: 20px;
    height: 20px;
    padding: 15px;
}
body section.About .container .part2 {
    width: 100%;
}
body section.About .container .part2 .textcontanier {
    padding: 0px;
}
body section.About .container .part {
    padding: 26px 0px;
}
body section.About .container .part2 .img img {
    width: 54%;
}
body section.About .container .part2 .textcontanier .hand
{
    width: 53px;
    top: 26px;
}
body section#Coach .container{width: 90%;}
body section#Coach .container .coacher {
    flex-basis: 100%;
}
body #Program .container {
    width: 90%;
}
body section#Contact form {
    padding-top: 40px;
}
body section#Contact form .lable1 {
    flex-basis: 100%;
    flex-wrap: wrap;
}
body section#Contact form .lable {
    width: 100%;
}
body section#Contact form .lable4 input {
    width: 100%;
}
body #Time .container .time {
    width: 100%;
    margin-bottom: 20px;
}
body #Time .container .timeimg{
    width: 100%;
    justify-content: center;
}
body #Time .container .times h4,
body #Time .container .times p{
    font-size: 13px;
}
body footer .copyrights p {
    font-size: 13px;
}
}

@media (min-width: 371px) and (max-width: 1300px) {
body nav div.container {
        width: 90%;
}
body section#Coach .container .coacher {
    flex-basis: 80%;
}
body #Program .container .box {
    width: 360px;
}
body footer .copyrights p {
    font-size: 14px;
}
}

@media (min-width: 577px) and (max-width: 1300px) {
body header div.container .part1 h1 {
        font-size: 50px;
    }
body header div.container .part1 p {
        font-size: 15px;
    }
body header div.container .part1 button {
        font-size: 14px;
        padding: 8px 10px;
    }
.fa-dumbbell {
     padding: 4px 5px 4.1px 4px;
}
body nav div.container .logo {
        width: 80px;
        margin-left: 0;
    }
body section.About .container .part1 .frame {
        width: 260px;
        height: 255px;
        margin: auto;
}
body section#Coach .container .coacher {
    flex-basis: 60%;
}


}

@media (min-width: 769px) and (max-width: 1300px) {
body header div.container .part {
        width: 50%;
}
body header div.container .part1 h1 {
    font-size: 37px;
}
body header div.container .part1 p {
        font-size: 12px;
}
body header div.container .part1 button {
    font-size: 11px;
    padding: 8px 10px;
}
body section.About .container .part1 {
        width: 50%;
 }
body section.About .container .part2 {
        width: 50%;
}
body section.About .container .part2 p {
    color: white;
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
}
body .About .container{
    width: 85%;
}
body section#Coach .container .coacher {
        flex-basis: 50%;
    }
body section#Contact form .lable {
width: 90%;
}
body section#Contact form .lable1{
    flex-wrap: nowrap;
}
body section#Contact form .lable1 >*{
    flex-basis: 50%;
}
body #Time .container .time {
    width: 50%;
}
body #Time .container .timeimg{
    width: 50%;
    justify-content: flex-end;
}
body footer .copyrights p {
    font-size: 15px;
}
}

@media (min-width: 993px) and (max-width: 1300px) {
body header div.container .part1 h1 {
        font-size: 50px;
}
body header div.container .part1 p {
        font-size: 14px;
}
body header div.container .part1 button {
        font-size: 14px;
        padding: 8px 10px;
}
body header div.container .part2 .img {
        width: 200px;
        height: 200px;
}
body nav div.container .links ul li {
        display: block;
}
body nav div.container .links ul button{
    display: none;
}
body section.About .container .part2 p {
        color: white;
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
}
body section#Coach .container .coacher {
    flex-basis: 33%;
}
body #Program .container .box {
    width: 300px;
}
body section#Contact form .lable {
    width: 70%;
}
}
@media (min-width: 1181px) and (max-width: 1300px){}